.main-wrapper
  = render partial: "sidebar", locals: { team: @team }
  %main
    .main-container
      .box
        .team-heading
          = image_tag @team.image_url, class: "team-heading__image"
          .team-heading__name
            %h1
              = @team.name
        .team-tab
          .tab-panel
            .group
              %ul.tab-group
                %li.tab.is-active 
                  チームプロフィール
                %li.tab
                  所属選手
                %li.tab
                  試合日程
                %li.tab
                  成績
              .panel-group
                .panel.is-show
                  .panel__profile
                .panel
                  .panel__players
                .panel
                  .panel__date
                .panel
                  .panel__result
              