.main-wrapper{
  display: flex;
  position: relative;
}
main{
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  background-color: $cLightBlue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $cDeepBlue;
  .main-container{
    width: 70%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .box{
      background-color: white;
      border-radius: 10px;
      padding: 30px;
      margin-top: 50px;
      margin-bottom: 50px;
      &__header{
        a{
          text-decoration: none;
        }
      }
      .simple-calendar{
        .calendar-heading{
          font-size: 30px;
          & a{
            text-decoration: none !important;
          }
        }
        & td{
          line-height: 18px;
          font-size: $sFontS;
        }
        .calendar{
          margin-top: 5px;
          & a{
            text-decoration: none !important;
          }
        }
      }
    }
    .next-game{
      & .mini-box{
        display: flex;
        margin-bottom: 10px;
      }
      &__left{
        width: 20%;
      }
      &__right{
        width: 70%;
        &__details{

        }
      }
    }
    .confirmation{
      & table{
        width: 100%;
      }
      & tr{
        display: flex;
        justify-content: space-around;
      }
      & td{
        margin: 0 auto;
      }
    }
  }
}

aside{
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  background-color: $cDeepBlue;
  min-height: 100vh;
  font-size: $sFontM;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  & nav{
    & .team-name{
      font-size: 50px;
      height: 300px;
      line-height: 300px;
      margin-bottom: 20px;
      & a{
        text-decoration: none;
        color: white;
        display: block;
        transition: all 0.2s ease;
        &:hover{
          background-color: rgba(24, 45, 60,0.8);
          color: white;
          text-decoration: none;
        }
      }
    }
    & ul{
      list-style: none;
      padding: 0;
      margin: 0;
      & li{
        margin-bottom: 20px;
        font-size: $sFontL;
        position: relative;
        & i{
          position: absolute;
          top: 10px;
          left: 155px;
          color: rgb(255, 187, 0);
          height: 15px;
        }
        & a{
          text-decoration: none;
          color: white;
          display: block;
          padding: 5px 0px; 
          transition: all 0.2s ease;
          &:hover{
            background-color: rgba(24, 45, 60,0.8);
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
  & .side-footer{
    margin-top: auto;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & .logo{
      width: 40%;
      height: 90%;
    }
  }
}

.game-add{
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 150px;
  z-index: 3;
  border-radius: 65px;
}
