.team-heading{
  display: flex;
  &__image{
    width: 30%;
    padding: 20px;
  }
  &__name{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }
}
.team-tab{
  width: 100%;
  margin: 0 auto;
  .tab-group{
    display: flex;
    justify-content: center;
    .tab{
      flex-grow: 1;
      flex:1;
      padding:5px;
      list-style:none;
      border:solid 1px #CCC;
      text-align:center;
      cursor:pointer;
      color: $cGreen;
    }
    .is-active{
      background: $cGreen;
      color:#FFF;
      transition: all 0.2s ease-out;
    }
  }
  .panel-group{
    height:100px;
    font-size: $sFontL;
    .panel{
      display:none;
      &__players{
        display: flex;
        flex-wrap: wrap;
        &__name{
          width: 50%;
        }
      }
      &__scores{
        &__group{
          display: flex;
          justify-content: center;
          &__kind{
            flex-grow: 1;
            flex: 1;
            padding: 5px;
            border: 1px solid $cDeepBlue;
            text-align: center;
            font-size: $sFontM;

          }
        }
        &__data-group{
          display: flex;
          &__data{
            flex-grow: 1;
            flex: 1;
            padding: 5px;
            border: 1px solid $cDeepBlue;
            text-align: center;
          }
        }
      }
      &__result{
        &__group{
          display: flex;
          justify-content: center;
          &__kind{
            flex-grow: 1;
            flex: 1;
            padding: 5px;
            border: 1px solid $cDeepBlue;
            text-align: center;
            font-size: $sFontM;
          }
        }
        &__data-group{
          display: flex;
          &__data{
            flex-grow: 1;
            flex: 1;
            padding: 5px;
            border: 1px solid $cDeepBlue;
            text-align: center;
          }
        }
      }
    }
    .is-show{
      display:block;
    }
  }
}