.team-tab.game{
  width: 70%;
  & .tab-group{
    padding: 0;
  }
  & .tab{
    width: 33%;
  }
  & .cancel{
    & .btn{
      text-decoration: none;
      background-color: $cDeepBlue;
      color: white;
      border-radius: 5px;
      width: 100%;
      padding: 7px 0px;
      display: block;
      margin-top: 20px;
      &:hover{
        color: $cDeepBlue;
        background-color: white;
        
      }
    }
  }
  .game-box-wrapper{
    background-color: white;
      border-radius: 10px;
      padding: 30px;
      width: 100%;
      margin: 0 auto;
    .game-box{
      display: flex;
      margin: 15px 0;
      &__left{
        width: 20%;
        font-weight: bold;
      }
      &__right{
        width: 60%;
        font-size: $sFontL;
      }
      & .name{
        font-size: $sFontM;
      }
      & .btn{
        background-color: $cDeepBlue;
        color: white;
        border-radius: 5px;
        background-color: $cDeepBlue;
        width: 15%;
        margin-left: 50%;
      }
      .fa-bell{
        color: white;
        margin-left: 10px;
        padding: 2px 5px;
        font-size: 1.3em;
        border-radius: 5px;
        background-color: $cDeepBlue;
      }
    }
  }
}