.toppage
  .container
    .top
      .title
        = image_tag "10092020054442A (1).png", class: "logo"
        %h3 サッカーチームの管理を、もっとスマートに。
      .sign
        = link_to "管理者ログイン", users_registrations_admin_signup_path
        = link_to "ユーザーログイン", ""
    .description
      .description__title
        %h1 TEAM APP をはじめよう
      .description__intro 
        %p 
          TEAM APPは、「サッカーチームの管理を楽しく、便利にする」サービスです。
          試合の出席連絡から、個人成績まで管理することができます。
          %br/
          まずはチームを作ってみましょう！